body{font-family:Arial;background:#fff8f3;margin:0;color:#4b2e2e}
header{display:flex;justify-content:space-between;padding:20px 8%;background:white}
nav a{text-decoration:none;margin-left:20px;color:#7a3e3e}
.hero{display:grid;grid-template-columns:1fr 1fr;padding:80px 8%;background:#fde6dd;align-items:center}
.btn{background:#7a3e3e;color:white;padding:12px 20px;text-decoration:none;border-radius:10px}
.logo{height:250px;border:3px dashed #7a3e3e;display:flex;justify-content:center;align-items:center;background:white;border-radius:20px}
#shop{padding:80px 8%}.grid{display:grid;grid-template-columns:1fr 1fr;gap:20px}
.card{background:white;padding:15px;border-radius:20px}.card img{width:100%;height:250px;object-fit:cover;border-radius:10px}
#contact,footer{text-align:center;padding:50px;background:#5b2c2c;color:white}
@media(max-width:768px){.hero,.grid{grid-template-columns:1fr}}
.logo img{
    width:120px;
    height:120px;
    border-radius:50%;
    object-fit:cover;
    border:4px solid #d4af37;
    box-shadow:0 4px 15px rgba(0,0,0,0.2);
}